#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: right;
}

.navbar {
    background: rgb(237, 213, 216);
    padding: 0, i !important;
}

.navbar-nav a {
    font-weight: 600;
    text-align: right;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.anunt {
    text-align: center;
    padding-bottom: 8%;
    padding-top: 5%;
}